@import '../../../../assets/shared.scss';

.finish {
    width: 40%;
    margin: 60px auto;

    &-box {
        &:nth-child(1) {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        &:nth-child(2) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-svg {
        width: 80px;
        height: 80px;
        border: 1px solid $mainColor;
        border-radius: 50%;
        margin-bottom: 30px;

        &> path {
            stroke-width: 1px;
            stroke: $mainColor;
        }
    }

    &-title {
        @include fontStyle(25px, 500, $mainColor);
        text-align: center;
        margin-bottom: 20px;
    }

    &-text {
        @include fontStyle(16px, 300, $mainColor);
        text-align: center;
        margin-bottom: 50px;
    }

    &-btn {
        width: 100px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        border-radius: 8px;
        cursor: pointer;
        @include fontStyle(16px, 300);

        &:nth-child(1) {
            margin-right: 10px;
            border: 1px solid $mainColor;
            color: $mainColor;
            box-sizing: border-box;
            
            &:hover {
                background-color: $mainColor;
                color: #fff;
            }

            &:active {
                border-color: $mainDarkColor;
                background-color: $mainDarkColor;
                color: #fff;
            }
        }

        &:nth-child(2) {
            background-color: $mainColor;
            color: #fff;

            &:hover {
                background-color: $mainLightColor;
            }
    
            &:active {
                background-color: $mainDarkColor;
            }
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .finish {
        width: 80%;
    }
}

@media only screen and (max-width: 599px) {
    .finish {
        width: 95%;
    }
}