@import '../../../../assets/shared.scss';

.contact {
    padding-bottom: 80px;

    &-banner {
        background-image: url('../../../../assets/images/banner/contact-banner.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat; 
        width: 95%;
        height: 400px;
        margin-left: auto;
        border-bottom-left-radius: 48px;
        margin-bottom: 60px;
        display: flex;
        align-items: flex-end;
        padding-left: 40px;
        padding-bottom: 40px;
        box-sizing: border-box;

        &__title {
            @include fontStyle(32px, 300, $mainColor);
            line-height: 38px;
            background-color: #ffffff90;
            padding: 10px 30px;
            border-radius: 8px;
        }
    }

    &-text {
        @include fontStyle(18px, 300);
        letter-spacing: 5px;
        line-height: 45px;
        text-align: center;
        padding: 0 10px;

        &:nth-child(4) {
            margin-bottom: 50px;
        }
    }
}