@import '../../../../assets/shared.scss';

.footer {
    width: 90%;
    margin: 0 auto;
    border-top: 1px solid $disbandColor;
    padding: 10px;

    &-box {
        display: flex;
        align-items: center;

        &__title {
            @include fontStyle(16px, 300, $mainColor);
            line-height: 19px;
            border-right: 1px solid $mainColor;
            padding-right: 5px;
            width: 80px;
            margin: 10px 0;
        }

        &__list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-left: 20px;
        }

        &__item {
            @include fontStyle(14px, 100, $fontLightColor);
            margin: 10px 20px;
            cursor: pointer;

            &:hover {
                color: #1a1a1a;
            }
        }
    }

    &-logo-box {
        width: 90px;
        height: 90px;
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &> img {
            width: 100%;
        }
    }

    &-state {
        @include fontStyle(13px, 300, $mainColor);
        letter-spacing: 3 px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) { 
    .footer {
        &-box {
            flex-direction: column;
            align-items: flex-start;

            &__list { 
                margin-left: 0;
            }
        }
    }
}

@media only screen and (max-width: 599px) {
    .footer {
        &-box {
            align-items: flex-start;

            &__title {
                width: 60px;
            }

            &__list { 
                margin-left: 0;
                width: calc(100% - 60px);
            }

            &__item {
                width: 40%;
                text-align: center;
                margin: 10px 10px;
            }
        }
    }
}