@import '../../../../assets/shared.scss';

.product {
    padding: 30px 0 50px 0;

    &-header {
        width: 80%;
        margin-left: auto;
        height: 500px;
        margin-bottom: 50px;
        border-bottom-left-radius: 16px;
        border-top-left-radius: 16px;
        overflow: hidden;
    }

    &-carousel {
        height: 100%;
    }

    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        box-sizing: border-box;
        margin: 0 auto;
        margin-bottom: 20px;
        width: 50%;
        border-bottom: 1px solid $disbandColor;

        
        &__title {
            @include fontStyle(16px, 500, $mainColor);
            height: 25px;
            line-height: 25px;
            border-right: 1.5px solid $mainColor;
            padding-right: 10px;
        }

        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
        }

        &__item {
            width: 80px;
            text-align: center;
            transition: all .5s;
            @include fontStyle(14px, 300, $disbandColor);
            cursor: pointer;

            &:hover {
                color: $mainColor;
            }

            &_active {
                color: $mainColor;
                font-weight: 500;
                pointer-events: none;
            }
        }
    }

    &-list {
        padding: 30px 50px;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        width: 20%;
        min-width: 170px;
        height: 270px;
        padding: 10px 20px;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;

        &__content {
            width: 100%;
            height: 100%;
            max-width: 200px;
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid #fff;
            transition: all .3s;
            position: relative;
            border-radius: 8px;
            overflow: hidden;
            
            &:hover {
                border: 1px solid $disbandColor;
            }

            &:hover .product-item__hover {
                opacity: 1;
            }
        }

        &__hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            max-width: 200px;
            background-color: #ffffff95;
            opacity: 0;
            transition: all .3s;

            &-text {
                position: absolute;
                top: 20px;
                left: 50%;
                transform: translateX(-50%);
                @include fontStyle(17px, 300, $mainColor);
                
                &:nth-child(2) {
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60px;
                    height: 60px;
                    border: 1px solid $fontColor;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 60px;
                    @include fontStyle(15px, 100);
                }
            }
        }

        &__box {
            &:nth-child(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                height: 70%;

                &> img {
                    height: 100%;
                    width: auto;
                }
            }

            &:nth-child(2) {
                height: 30%;

                &> p {
                    text-align: center;   
                }
            }
        }

        &__title {
            @include fontStyle(14px, 300, $fontColor, true);
            display: -webkit-box;
            white-space: initial;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            line-height: 21px;
            margin-bottom: 2px;
            padding: 0 2px;
            box-sizing: border-box
        }

        &__price {
            @include fontStyle(16px, 300, $mainColor, true);
            line-height: 23px;
        }
    }

    &-page-nav {
        display: flex;
        justify-content: center;
        align-items: center;

        &__btn {
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            font-size: 16px;
            color: $mainColor;

            &_null {
                color: $disbandColor;
                pointer-events: none;
            }
        }

        &__item {
            margin: 0;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            cursor: pointer;
            @include fontStyle(16px, 500, $disbandColor);

            &_active {
                color: $mainColor;
                pointer-events: none;
            }
        }
    }

    &-null {
        > p {
            @include fontStyle(18px, 300);
            text-align:center;
        }
    }
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .product {
        &-header {
            width: 90%;
            margin-bottom: 30px;
        }

        &-nav {
            width: 70%;
            margin-bottom: 10px;
        }

        &-item {
            width: 25%;
        }
    }
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
    .product {
        &-header {
            width: 90%;
            margin-bottom: 30px;
            height: 350px;
        }

        &-nav {
            width: 90%;
            margin-bottom: 10px;
        }

        &-list {
            padding: 20px 30px;
        }

        &-item {
            width: 33%;
        }
    }
}

@media only screen and (max-width: 599px) {
    .product {
        &-header {
            width: 95%;
            height: 300px;
            margin-bottom: 30px;
        }

        &-nav {
            width: 100%;
            margin-bottom: 10px;

            &__list {
                flex-wrap: wrap;
            }

            &__item {
                width: 33.33%;
                margin: 5px 0;
            }
        }

        &-list {
            padding: 10px 0;
        }

        &-item {
            width: 50%;
            min-width: 120px;
            height: 220px;

            &__title {
                font-size: 12px;
                line-height: 17px;
            }
    
            &__price {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }

}
