@import '../../../../assets/shared.scss';

.order-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b30;
    z-index: 99;

    &__box {
        padding: 20px;
        box-sizing: border-box;
        width: 800px;
        height: 500px;
        background-color: #fff;
        border-radius: 8px;
        position: relative;
    }
    &-title {
        @include fontStyle(25px, 500);
        text-align: center;
    }

    &-main {
        height: 100%;
        padding-right: 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;

        &-scrollbar {
            height: calc(100% - 130px);
        }
    }

    &-box {
        height: 100%;
        flex: 1;

        &:nth-child(1) {
            padding: 10px;
        }
    }

    &-info {
        &__text-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            
            &:nth-child(4) {
                margin-bottom: 20px;
                border-bottom: 1px solid $fontColor;
            }
            
            > p{
                @include fontStyle(16px, 300, $fontColor, true);
                &:nth-child(2) {
                    max-width: 260px;
                }
            }
        }
    }

    &-info {
        &__total-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 60%;
            margin: 10px 0 10px auto;
            @include fontStyle(16px, 500);
        }  
    }

    &-list {
        max-height: 300px;
    }

    &-item {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        padding: 10px;
        padding-right: 20px;
        box-sizing: border-box;

        &__name {
            @include fontStyle(18px, 500, $fontColor, true);
            padding-left: 10px; 
            max-width: 45%;
        }
    
        &__text {
            @include fontStyle(16px, 300);
            margin-left: auto;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $fontColor;
        }
    }

    &-img {
        height: 100%;
        width: 30%;
        overflow: hidden;
        position: relative;

        > img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 100%;
        }
    }

    &-buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    &-button {
        width: 100px;
        height: 35px;
        border-radius: 500px;
        border: 0;
        cursor: pointer;
        margin: 0 10px;
        @include fontStyle(16px, 300);
        outline: none;
        border: 1px solid $mainColor;;
        background-color: #fff;
        color: $mainColor;;

        &-close {
            width: 20px;
            height: 20px;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;

            > i {
                font-size: 20px;
                color: $disbandColor;

                &:hover {
                    color: $fontColor;
                }
            }
        }

        &:hover {
            color: #fff;
            background-color: $mainLightColor;;
        }

        &:active {
            color: #fff;
            background-color: $mainDarkColor;;
        }
    }

    &-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.order-popup-buttons .order-popup-button_disabled {
    color: #fff;
    background-color: $disbandColor;
    pointer-events: none;
}

@media only screen and (max-width: 900px) {
    .order-popup {
        &__box {
            max-width: 90%;
        }
        &-main {
            flex-direction: column;
        }

        &-box {
            &:nth-child(2) {
                padding: 0 30px;
            }
        }

        &-button {
            width: 80px;
        }

        &-info {
            &__text-box {                
                > p:nth-child(2) {
                        max-width: 180px;
                }
            }
        }

        &-info {
            &__total-box {
                width: 80%;
            }  
        }
    }
}