@import '../../../../assets/shared.scss';

.inner {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;

    &-box {
        position: absolute;
        width: 70%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        border-radius: 16px;
        display: flex;
        
        &__content {
            flex: 1;

            &:nth-child(1) {
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;

                >img {
                    width: 100%;
                    align-self: center;
                }
            }

            &:nth-child(2) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        &__title {
            @include fontStyle(25px , 300, $mainColor);
            line-height: 33px;
            padding: 30px 0;
            border-bottom: 1px solid $mainColor;
            margin-bottom: 50px;
        }

        &__input {
            display: flex;
            flex-direction: column;

            width: 60%;
            margin-bottom: 30px;
            @include fontStyle(16px , 300);

            label {
                margin-bottom: 10px;
            }
        }

        &__value {
            padding: 10px 5px;
            outline: none;
            @include fontStyle(14px , 300);
        }

        &__warn {
            margin-top: 5px;
            @include fontStyle(14px , 300, $warnColor);
            height: 14px;

            &-hidden {
                font-size: 0;
            }
        }

        &__button {
            @include fontStyle(14px , 300, #fff);
            background-color: $mainColor;
            border: none;
            outline: none;
            width: 60%;
            border-radius: 500px;
            height: 40px;
            cursor: pointer;

            &:hover {
                background-color: $mainLightColor;
            }

            &:active {
                background-color: $mainDarkColor;
            }

            &_null {
                background-color: $disbandColor;
                pointer-events: none;
            }
        }

        &__text {
            margin-top: 10px;
            @include fontStyle(14px , 300, $fontLightColor);
            cursor: pointer;

            &:hover {
                color: $fontColor;
            }
        }
    }

    .icn-back {
        position: absolute;
        top: 20px;
        left: 40px;
        font-size: 30px;
        cursor: pointer;
        color: $disbandColor;

        &:hover {
            color: $mainColor;
        }
    }
}


@media only screen and (min-width: 600px) and (max-width: 900px) { 
    .inner {
        &-box {
            flex-direction: column;
            min-height: 370px;

            &__content {
                &:nth-child(1) {
                    flex: .5;
                    >img {
                        width: auto;
                        height: 100%;
                    }
                }
            }

            &__title {
                padding: 10px 0;
                margin-bottom: 30px;
            }

            &__input {
                margin-bottom: 10px;            
            }
        }
    }

    .inner .icn-back {
        top: 10px;
        left: 20px;
        font-size: 26px;
    }
}

@media only screen and (max-width: 599px) { 
    .inner {
        &-box {
            flex-direction: column;
            min-height: 370px;

            &__content {
                &:nth-child(1) {
                    flex: .5;
                    >img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            &__title {
                padding: 10px 0;
                margin-bottom: 30px;
                font-size: 18px;
                line-height: 21px;
            }

            &__input {
                width: 70%;
                margin-bottom: 0;
                font-size: 14px;
            }

            &__button {
                height: 30px;
            }

            &__text {
                font-size: 12px;
            }
        }
    }

    .inner .icn-back {
        top: 10px;
        left: 20px;
        font-size: 26px;
    }
}

.inner-box__input > .inner-box__value {
    border: none;
    border-bottom: 1px solid $fontLightColor;
    border-radius: 0;

    &:focus {
        box-shadow : none;
        border-width: 2px;
        border-color: $mainColor;
    }
}