.login {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/images/banner/login-banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &-effect {
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: #ffffff30;
    }

    app-customer-login, app-inner-login {
        position: absolute;
        top: 0;
        left: 0;    
    }
}