@import '../../../../assets/shared.scss';

.order-list {
    padding-top: 20px;
    height: calc(100% - 180px);
    box-sizing: border-box;

    &__scrollbar {
        width: 100%;

        &-box {
            height: calc(100% - 25px);
            min-width: 760px;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        height: 40px;

        &-box {
            margin-top: 20px;
            width: 100%;
            height: calc(100% - 25px);
            box-shadow: 0 0 20px #00000030;
            background-color: #fff;
            border-radius: 15px;
            padding: 30px 20px 20px 20px;
            box-sizing: border-box;
        }

        &_header {
            border-bottom: 1px solid $disbandColor;
            min-width: 760px;
        }

        &-scrollbar {
            height: 100%;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        &:nth-child(1) {
            width: 10%;

            &> p {
                text-align: center;
            }
        }

        &:nth-child(2) {
            width: 15%;
        }

        &:nth-child(3) {
            width: 15%;
        }

        &:nth-child(4) {
            width: 30%;
        }
        
        &:nth-child(5) {
            width: 10%;
            
            &> p {
                text-align: center;
            }
        }

        &:nth-child(6) {
            width: 12%;
            // width: 20%;
        }

        &:nth-child(7) {
            width: 8%;
            justify-content: center;

            &> p {
                text-align: center;
            }

            .order-list__info {
                cursor: pointer;
                border: 1px solid $mainColor;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                
                > i {
                    color: $mainColor
                }
            }
        }
    }

    &__text {
        @include fontStyle(15px, 500, $fontColor, true);
        line-height: 18px;
        width: 90%;
    }

    &__switch {
        position: absolute;
        top: 50%;
        left: 1px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #fff;
        transition: all .5s;

        &-box {
            cursor: pointer;
            position: relative;
            width: 40px;
            height: 20px;
            border-radius: 500px;
            background-color: $warnColor;
            transition: all .5s;

            &_open {
                background-color: #34e2b0;
                
                .order-list__switch {
                    left: initial;
                    right: 1px;
                }
            }
        }
    } 
}

.icon-edit {
    cursor: pointer;
    color: $mainColor;
    
    &:hover {
        color: $mainLightColor;        
    }

    &:active {
        color: $mainDarkColor;
    }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .order-list {
        height: calc(100% - 208px);
    }
}